.corner-test { max-width: 100%; margin: 0; padding: 10% 0% 10% 30%; background-image: url('../imgages/circle.pnj');
background-size: contain; background-repeat: no-repeat; text-align: center; border-radius: 25px; }
