/* ==========================================================================
   Tiles
   ========================================================================== */

.tile-square {
  @include outer-container;
  margin-bottom: $gutter;
  margin-right: $gutter;

  @include media($micro) {
    @include fill-parent;
  }
  @include media(new-breakpoint(min-width em(600) 12)) {
    @include span-columns(8);
  }

  .post-title {
    @include font-size(18,no);
  }
  .post-excerpt {
    @include font-size(16);
    position: relative;
    display: block;
    top: 0;
    right: 0;

  }
  .post-teaser {
    position: relative;
    display: block;
    padding-right: 40px;
    &:after {
      content: '';
      position: absolute;
      width: 500%;
      height: 100%;
      bottom: 0;
      left: 0;
      background: rgba($base-color,0);
      pointer-events: none;
      @include transition(background 0.3s);
    }
    &:hover {
      &:after {
        background: rgba($base-color,0.2);
      }
    }
  }
}
